{% extends "layout.html" %}

{% block content %}
    <div style="max-width: 800px; margin: 50px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px;">
        
        <h2 class="nome_pet"><strong>Detalhes do Pet: </strong>{{ pet.nome }}</h2>
        <br>
        <hr>
        <br>

        <div style="display: flex; gap: 20px;">
            <div style="flex: 1;">
                <img class="pet-img"
                     src="{{ pet.foto_url }}"
                     alt="{{ pet.nome }}"
                     style="width: 100%; height: auto; border-radius: 6px; border: 1px solid #eee;">

            </div>

            <div style="flex: 2;" class="pet_card">
                <div class="principal_card">
                    <p><strong>Nome:</strong> {{ pet.nome }}</p>
                    <p><strong>Espécie:</strong> {{ pet.especie }}</p>
                    <p><strong>Idade:</strong> {{ pet.idade }} anos</p>
                    {% if pet.ong_proprietaria %}
                        <p><strong>ONG Responsável:</strong> {{ pet.ong_proprietaria.nome_fantasia }}</p>
                        <p><strong>Contato: </strong>{{ pet.ong_proprietaria.email }}</p>
                    {% else %}
                        <p><strong>ONG Responsável:</strong> Dados da ONG não disponíveis.</p>
                    {% endif %}
                </div>
                <p style="margin-top: 30px;" class="teste">
                    <a href="{{ url_for('main.adocao') }}">Voltar para a Lista</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
